.navbar {
  background: #0d6efd;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h2 {
  color: white;
  margin: 0;
}

.nav-links a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: 500;

  opacity: 0;
  transform: translateY(-30px);
  animation: linkFade 0.6s ease forwards;
}

.nav-links a:hover {
  text-decoration: underline;
}

.nav-links a:nth-child(1) { animation-delay: 0.2s; }
.nav-links a:nth-child(2) { animation-delay: 0.4s; }
.nav-links a:nth-child(3) { animation-delay: 0.6s; }
.nav-links a:nth-child(4) { animation-delay: 0.8s; }

@keyframes linkFade {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

